@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-bg-color: #2874f0;
    --main-box-color: rgb(236, 229, 229);
  }
header{
    background-color: var(--main-bg-color);
}
body{
    max-width: 1450px;
    margin-inline: auto;
}
nav{
    height: 72px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    flex-direction: column;

}
.logo img{
    width: 90px;
}
.logo span{
    margin-top: -3px;
    font-size: 15px;
}
.logo span img{
    width: 15px;
}
.search{
    width: 700px;
    border-radius: 8px;
}
.search input{
    width: 90%;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    outline: none;
}
.btns a{
    padding: 6px 12px;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-inline:16px;
    align-items: end;
}
.A1{
    max-width: 1200px;
    height: 100px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 0px 0px #ddd;
    overflow: hidden;
}
.A1 div{
    display: flex;
    flex-direction: column;
}
.A1 img{
    margin: 0px 25px;
    max-width: 70px;
}
.A1 h4{
    text-align: center;
}
.mySlides img{
    max-width: 100%;
    display: block;
    margin: 32px auto;
    
}
.box{
    margin: 30px 10px;
    background-color: rgb(250, 250, 244);
}

.box button{
    background-color: var(--main-bg-color);
    color:white ;
    border-radius: 8px;
    cursor: pointer;
}
h3{
    color: rgb(207, 158, 33);
}
.contentcombo{
    background-color: var(--main-box-color);
    display: flex;
    justify-content: start;
    margin: 20px 15px;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    width: 20vw;  
    justify-content: center;
    align-items: center;
    padding: 44px;
}
.content img{
    width: 100px;
    cursor: pointer;
}
footer{
    height: 50px;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .search{
        display: none;
    }
   .btns a{
    margin-inline: 4px;
   }
  }