@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #2874f0;
    --main-box-color: rgb(236, 229, 229);
  }
header{
    background-color: var(--main-bg-color);
}
nav{
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
   padding: 5px;
   flex-direction: column;
   position: relative;
    left: 13vw;
}
.logo img{
    width: 6vw;
}
.logo span{
    padding-top: 3px;
    font-size: 1vw;
}
.logo span img{
    width: 1vw;
}
.search{
    width: 28vw;
    display: flex;
    position: relative;
    left: 16vw;
  }
.search input{
    width: 25.6vw;
    height: 30px;
}
.search button img{
    height:23px;
    background-color: white;
    cursor: pointer;
}
.loginbtn{
    position: absolute;
    width: 17vw;
    left: 54vw;
}
.loginbtn ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2vw;
    position: relative;
    left: 7vw;
}
.loginbtn ul button {
    width: 5vw;
}
.loginbtn ul button a {
   text-decoration: none;
}
.loginbtn ul li{
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 4px;
}
.loginbtn ul li a{
    font-size: 25px;
}
.A1{
    min-width: 90vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    box-shadow: 10px 5px 5px rgb(61, 120, 139);
}
.A1 div{
    display: flex;
    flex-direction: column;
}
.A1 img{
    margin: 0px 2vw;
    width: 70px;
}
.A1 h4{
    margin: 0px 2vw;
}
.A1 img,h4 :hover{
    cursor: pointer;
}
.box button{
    background-color: var(--main-bg-color);
    width: 6vw;
    color:white ;
    position: relative;
    float: right;
    height: 36px;
    border: none;
    border-radius: 2px;
}
.contentcombo{
    background-color: var(--main-box-color);
    display: flex;
    justify-content: start;
    justify-content: space-between;
    margin: 20px 15px;
    overflow: scroll;
}
.content{
    display: flex;
    flex-direction: column;
    width: 20vw;  
    justify-content: center;
    align-items: center;
    padding: 44px;
}
.content p{
    text-align: center;
}
footer{
    font-family: 'Roboto Condensed', sans-serif;
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
}

