@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-bg-color: #2874f0;
    --main-box-color: rgb(236, 229, 229);
  }
header{
    background-color: var(--main-bg-color);
}
nav{
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
    padding: 5px;
    flex-direction: column;
    position: relative;
    margin-left: 7vw;
}
.logo img{
    width: 90px;
}
.logo span{
    margin-top: -3px;
    font-size: 15px;
}
.logo span img{
    width: 15px;
}
.search{
    max-width: 35vw;
    height: 30px;
    border: 1px solid black;
    outline: none;
    position: relative;
    margin-left: 10px;
}
.search input{
    display: inline;
    width: 35vw;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}
.btns{
    min-height: 30px;
    background-color: var(--main-bg-color);
    position: absolute;
    left: 65%;
    display: flex;
}
.btns button{
    width: 70px;
    height: 31px;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 0px 15px;
} 
button a{
    text-decoration: none;
}
.A1{
    min-width: 90vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    box-shadow: 10px 5px 5px rgb(61, 120, 139);
}
.A1 div{
    display: flex;
    flex-direction: column;
}
.A1 img{
    margin: 0px 2vw;
    width: 70px;
}
.A1 h4{
    margin: 0px 2vw;
}
.A1 img,h4 :hover{
    cursor: pointer;
}
.box{
    padding: 2vh 0px;
    background-color: #e3e7e3a3;
    padding-left: 1%;
    margin-bottom: 2vh;
}
.box h2,
h3{
    padding-left: 15px;
}
h3{
    color: rgb(207, 158, 33);
}
.box button{
    background-color: var(--main-bg-color);
    width: 6vw;
    color:white ;
    position: relative;
    float: right;
    height: 36px;
    border: none;
    border-radius: 2px;
    padding-left: 8px;
    cursor: pointer;
}
.contentcombo{
    background-color: var(--main-box-color);
    display: flex;
    justify-content: start;
    margin: 20px 15px;
    overflow: scroll;
}
.content{
    display: flex;
    flex-direction: column;
    width: 20vw;  
    justify-content: center;
    align-items: center;
    padding: 44px;
}
.content img{
    width: 135px;
    cursor: pointer;
}
.content img:hover{
    width: 140px;
    
}
.content p{
    text-align: center;
}
footer{
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
    letter-spacing: 2px ;
}

